$primaryColor: rgb(41, 41, 41);
$primeryColor: rgb(41, 41, 41);
$secondaryColor: rgb(153, 13, 3);
$thirdColor: rgb(177, 247, 85);
$textcolor: rgb(29, 25, 25);
$secondtextColor: rgb(166, 166, 133);
@mixin transition-fast {
    transition: all 0.3s ease-in-out;
}

@mixin transition-ease {
    transition: all 0.6s ease-in-out;
}

@mixin transition-slow {
    transition: all 0.9s ease-in-out;
}

a {
    font: size 1.2em;
    text-decoration: none;
    color: $textcolor;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}