body {
  width: 100%;
  background: whitesmoke;
}

main {
  width: 90%;
  height: 100vh;
  margin: auto;
  background: linear-gradient(70deg, rgba(255, 255, 255, 0.295), rgba(0, 0, 0, 0.21), rgba(255, 255, 255, 0.295)), url(./photos/jacob-reception.jpg) center top;
  background-size: cover;
}

header {
  text-align: center;
}
