@import"globals";
@import"header";
@import"landing";
@import"footer";
@import"section";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: whitesmoke;
}

main {
    width: 90%;
    height: 400vh;
    margin: auto;
    position: relative;
    top: -15vh;
    left: 0;
    padding-top: 15vh;
    background: linear-gradient(120deg, rgba($primaryColor, 0.2), rgba($secondaryColor, 0.02), rgba($thirdColor, 0.1));
    background-size: cover;
}

header {
    text-align: center;
    height: 15vh;
    width: 100%;
}