a {
  font: size 1.2em;
  text-decoration: none;
  color: #1d1919;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 15vh;
  margin: auto;
}

.header .logo {
  padding: 2em;
}

.header .title {
  position: relative;
  top: 40%;
  right: 40%;
  color: #a6a685;
}

.burger-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2.5em;
  right: 2.5em;
  z-index: 1;
  cursor: pointer;
  pointer-events: all;
  height: 40px;
  width: 40px;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.burger-wrap .burger {
  width: 40px;
  height: 9px;
  background: rgba(153, 13, 3, 0.7);
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.burger-wrap .burger::before {
  content: '';
  width: 40px;
  height: 9px;
  background: rgba(153, 13, 3, 0.7);
  position: absolute;
  top: -13px;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.burger-wrap .burger::after {
  content: '';
  width: 25px;
  height: 9px;
  background: rgba(153, 13, 3, 0.7);
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  left: 0;
}

.burger-wrap .burger.open {
  -webkit-transform: rotate(1080deg);
          transform: rotate(1080deg);
  background: transparent;
}

.burger-wrap .burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 14px);
          transform: rotate(45deg) translate(5px, 14px);
  width: 41px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(153, 13, 3, 0.7)), color-stop(rgba(41, 41, 41, 0.9)), to(rgba(153, 13, 3, 0.7)));
  background: linear-gradient(to right, rgba(153, 13, 3, 0.7), rgba(41, 41, 41, 0.9), rgba(153, 13, 3, 0.7));
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.burger-wrap .burger.open::after {
  width: 41px;
  -webkit-transform: rotate(-45deg) translate(3px, -14px);
          transform: rotate(-45deg) translate(3px, -14px);
  background: -webkit-gradient(linear, left top, right top, from(rgba(153, 13, 3, 0.7)), color-stop(rgba(41, 41, 41, 0.9)), to(rgba(153, 13, 3, 0.7)));
  background: linear-gradient(to right, rgba(153, 13, 3, 0.7), rgba(41, 41, 41, 0.9), rgba(153, 13, 3, 0.7));
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.93;
  visibility: hidden;
  z-index: 1;
}

.nav.open {
  visibility: visible;
}

.nav .nav-menu {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #292929;
  list-style: none;
  padding-right: 1rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav .nav-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .nav-menu .items {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  pointer-events: all;
}

.nav .nav-menu .items.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #990d03;
  text-shadow: 1px 1px 1px rgba(177, 247, 85, 0.7);
}

.nav .nav-menu .items.active > a {
  color: #990d03;
  text-shadow: 1px 1px 1px rgba(177, 247, 85, 0.7);
}

.nav .nav-menu .link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0 2rem 1.5rem;
  font-weight: 300;
  color: rgba(153, 13, 3, 0.7);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.nav .nav-menu .link:hover {
  color: #a6a685;
}

.nav-menu .items:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-menu .items:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nav-menu .items:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-menu .items:nth-child(4) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.landing {
  width: 100%;
  height: 85vh;
  background: linear-gradient(45deg, rgba(41, 41, 41, 0.75), rgba(177, 247, 85, 0.15)), url(../photos/Imagen1.jpg) left top;
  background-size: cover;
}

.section-wrap {
  height: 300vh;
  width: 100%;
}

.section-wrap .section {
  width: 100%;
  height: 100vh;
}

.section-wrap .section-1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 3fr;
      grid-template-columns: 2fr 1fr 3fr;
  -ms-grid-rows: 2fr 1fr 2fr;
      grid-template-rows: 2fr 1fr 2fr;
}

.section-wrap .section-1 .grid-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../photos/jacob-reception.jpg) center top;
  background-size: cover;
  opacity: 0.8;
}

.section-wrap .section-1 .red-left-top {
  background: red;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section-wrap .section-1 .red-right-top {
  background: red;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section-wrap .section-1 .red-left-down {
  background: red;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-wrap .section-1 .red-right-down {
  background: red;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-wrap .section-1 .white-vertical {
  background: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.section-wrap .section-1 .white-horizontal-right {
  background: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-wrap .section-1 .white-horizontal-left {
  background: white;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-wrap .section-2 {
  background: url(../photos/jacob-mountain.JPG) center top;
  background-size: cover;
}

.section-wrap .section-2 .card-wrap {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 10%;
  -ms-grid-rows: 10% 1fr 1fr 10%;
      grid-template-rows: 10% 1fr 1fr 10%;
  grid-gap: 10px;
}

.section-wrap .section-2 .card-wrap .card {
  width: 100%;
  height: 100%;
  background: rgba(153, 13, 3, 0.4);
  border-radius: 10px;
  position: relative;
}

.section-wrap .section-2 .card-wrap .card img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-wrap .section-2 .card-wrap .card-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-wrap .section-2 .card-wrap .card-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-wrap .section-2 .card-wrap .card-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-wrap .section-2 .card-wrap .card-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-wrap .section-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-wrap .section-3 .blog {
  width: 90%;
  height: 50%;
}

.section-wrap .section-3 .blog .photo {
  width: 160px;
  height: 160px;
  position: relative;
}

.section-wrap .section-3 .blog .photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-wrap .section-3 .blog .photo figcaption {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section-wrap .section-3 .blog .writing {
  float: right;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: whitesmoke;
}

main {
  width: 90%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 15vh;
  background: linear-gradient(120deg, rgba(41, 41, 41, 0.2), rgba(153, 13, 3, 0.02), rgba(177, 247, 85, 0.1));
  background-size: cover;
}

header {
  text-align: center;
  height: 15vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2001;
}
